$color-primary: hsl(229, 57%, 11%);
$color-primary--light: hsl(228, 56%, 26%);
$color-secondary: hsl(243, 100%, 93%);
$color-secondary--dark: hsl(229, 7%, 55%);

$gradient-primary: linear-gradient(
  to right,
  hsl(6, 100%, 80%),
  hsl(335, 100%, 65%)
);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeSpeed;
}
