.fylo {
  &__container {
    width: 87%;
    max-width: 93rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    &-icons {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    &-text {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (min-width: 810px) {
        margin-bottom: 0;
      }
    }
  }
}
